@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');

$font-web: 'Comfortaa', cursive;
$color-black: #011627;
$color-white: #fcfcfc;
$color-green: #06d6a0;
$color-red: #ef476f;
$color-yellow: #ffd166;
$color-blue: #26547c;



  